{% extends "layout/basic.html" %}

    {% block content %}

    <div class="wrapper_index">  
        <h1>Питомцы</h1>
        <div class="wrapper_text">
            <p>Сайт создан в учебных целях. Все описания касаются вида питомцев.</p>
            <p>Любые сопадения с именами питомцев случайны.</p>
            <p>Панель навигации для просмотра и поиска питомцев выше.</p>
            <p><a  href="http://127.0.0.1:8000/admin/">
                Добавить и редактировать питомца можно по этой ссылке.</a></p>
            <p>Логин: test</p>
            <p>Пароль: test12345</p>
        </div>
    </div>

    {% endblock %}
    